.navbar {
  background-color: #0d0d0d;
  width: 100%;
  height: 60px;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar-brand {
  color: crimson;
  font: bold;
  font-size: 30px;
  margin-left: 20px;
}

.navbar-links {
  font-size: 20px;
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}

.nav-link,
.nav-link:visited {
  color: crimson;
  text-decoration: none;
  padding: 0 12px;
}

.nav-link:hover {
  color: #ff6b6b;
  text-decoration: underline;
}

.navbar-brand a,
.navbar-brand a:visited {
  color: crimson;
  text-decoration: none;
}
